{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Princeton High School</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/princeton_logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

    <body>
        <header>
            {% block header %}
                <div id="logo">
                    <img src="{% static 'img/princeton_logo.png' %}" alt="School Logo">
                </div>
                <h1 id="left">Princeton High School&reg;</h1>
                <nav>
                    <span>
                        <a href="{% url 'home' %}">Home</a>
                    </span>
                    <span>
                        <a href="{% url 'create_student' %}">Student</a>
                    </span>
                    <span>
                        <a href="{% url 'create_guardian' %}">Guardian</a>
                    </span>
                </nav>
            {% endblock %}
        </header>

        <section {% if form_rendered %}class="centered-section"{% endif %}>
            {% block content %}{% endblock %}
        </section>

        <footer>
            {% block footer %}
                <p id="foot">&copy; 2024 Princeton High School. All rights reserved.</p>
            {% endblock %}
        </footer>

    </body>

</html>