{% extends 'base.html' %}

{% block content %}
    <h1 id="home">Welcome To Princeton High School</h1>
    <div id="h_left">
        <h2>About Us</h2>
        <p>Princeton High School is dedicated to providing a nurturing and challenging educational environment for
            students. Our goal is to foster intellectual curiosity, critical thinking, and a lifelong love of
            learning.</p>

        <h2>Admissions</h2>
        <p>Explore the opportunities at Princeton High School. Join us in shaping a bright future for your child.
            Admission details and procedures are available <a href="#">here</a>.</p>

        <h2>Contact Us</h2>
        <p>Have questions or need more information? Feel free to reach out to us. Visit our <a href="#">Contact
                page</a> for details.</p>
    </div>
{% endblock %}
